doctype html
head
    meta(charset='utf-8')
    title #{title}
    meta(name='description' content='')
    meta(name='author' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

    //CSS
    link(rel='stylesheet' href='/css/style.min.css')


    //script

    //favicons
    link(rel='shortcut icon' href='/images/favicon.png' type='image/x-icon')
    link(rel='icon' href='/images/favicon.png' type='image/x-icon')



    body#top

        section.s-pageheader.s-pageheader--home

            // Header
            include _header
            - if (url === '/' && length >= 3) 
                include _preview



        // Content
        block content   
            h1 This is a Placeholder Heading 

        // Footer
        include _footer

        // preloader
        #preloader
            #loader
                .line-scale
                    div
                    div
                    div
                    div
                    div


    //Java Script
    script(src='/js/jquery-3.2.1.min.js')
    script(src='/js/plugins.js')

    script(src="/js/bundle.js")



