extends base

block content
    section.s-content.s-content--narrow
        article.row.format-standard
            .s-content__header.col-full
                h1.s-content__header-title
                    | #{msg}
                ul.s-content__header-meta

            .about
                .s-content__author
                    .s-content__author-about
                        h4.s-content__author-name
                        p
                        ul.s-content__author-social
                            li